#Proxima-charla{
    background: #a4452c;
    padding: 100px;
    color: white;
}
#Proxima-charla .wrapper {
    width: 800px;
    margin: auto;
}
.wrapper img{
    width: 25%;
}
.wrapper .texto{
    width: 70%;
    margin-left: 4%;
}
.wrapper img, .texto{
    display: inline-block;
    vertical-align: middle;
}