header {
    background-image: url(../images/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: open sans-serif;
    text-shadow: 0px 3px 6px black;
    text-align: right;
    color: white;
}
h1{
    font-size: 60px;
}
h3{
    font-size: 40px;
    font-weight: lighter;
}
