body{
    margin: 0px;
    padding: 0px; 
    font-family: "Open Sans", sans-serif;
}
#navbar{
    background-color: #E83E8C;
    padding-left: 3em;
    padding-right: 3em;
}
.navbar-nav .nav-link{
    color: white
}
.nav-suricata img{
    height: 3em;
    width: 7em;
}

.titulo-productos h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color:#707070;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.contenedores-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 7em;
    margin-bottom: 3em;
}
.parrafo{
    display: flex;
    justify-content: space-evenly;
    padding: 3em;
    font-size:x-large;
    font-weight: bold;
    background-color: #17A2B8;
    color: #FFFFFF;
}
.iconos i{
    margin-right: 10px;
    margin-right: 10px;
}
@media (max-width: 767px) {
    .parrafo {
      display: none;
    }
  }

footer img{
width: 3em;
margin-top: 2em;
}
footer{
    height: 10em;
    background-color: #E83E8C;
}